Library/ESBMessageLib/service/vn/customer/customerService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.pjico.com.vn/entity/vn/customer/customersvcs/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com-soa="http://www.pjico.com.vn/common/envelope/soaenvelope/1" xmlns:com-com="http://www.pjico.com.vn/entity/vn/com/1" xmlns:com-party="http://www.pjico.com.vn/entity/vn/com/party/1" xmlns:Q1="http://www.pjico.com.vn/common/envelope/serviceenvelope/1" xmlns:cussv="http://www.pjico.com.vn/entity/vn/customer/customersvcs/1" xmlns:Q2="http://www.pjico.com.vn/common/envelope/commonheader/1" xmlns:Q3="http://www.pjico.com.vn/entity/vn/com/isurance/1">
    <xsd:import schemaLocation="../../../schema/Vn/com/insurance.xsd" namespace="http://www.pjico.com.vn/entity/vn/com/isurance/1"></xsd:import>
    <xsd:import schemaLocation="../../../schema/Common/Envelope/ServiceEnvelope.xsd" namespace="http://www.pjico.com.vn/common/envelope/serviceenvelope/1"></xsd:import>
    <xsd:import
		schemaLocation="../../../schema/Common/Envelope/SOAEnvelope.xsd"
		namespace="http://www.pjico.com.vn/common/envelope/soaenvelope/1">
	</xsd:import>

	<xsd:import schemaLocation="../../../schema/Vn/com/com.xsd"
		namespace="http://www.pjico.com.vn/entity/vn/com/1">
	</xsd:import>
	<xsd:import schemaLocation="../../../schema/Vn/com/party.xsd" namespace="http://www.pjico.com.vn/entity/vn/com/party/1"></xsd:import>

    <xsd:element name="InquiryCustomerReq" type="cussv:InquiryCustomerReqType"></xsd:element>

    <xsd:element name="InquiryCustomerRes" type="cussv:InquiryCustomerResType"></xsd:element>

    <xsd:complexType name="InquiryCustomerReqType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq" type="cussv:InquiryCustomerReqBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryCustomerResType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes" type="cussv:InquiryCustomerResBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryCustomerReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>


    		<xsd:element name="PartyCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="IDNo" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PErr" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="InquiryCustomerResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ReturnCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="ErrMess" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="Party" type="com-party:PartyType"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PartyBl" type="com-party:PartyType"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PartyPhy" type="com-party:PartyType"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PartyBlPhy" type="com-party:PartyType"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>

    		<xsd:element name="AgencyList" type="cussv:AgencyListType"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="CreateCustomerReq"
    	type="cussv:CreateCustomerReqType">
    </xsd:element>
    
    <xsd:element name="CreateCustomerRes" type="cussv:CreateCustomerResType"></xsd:element>

    <xsd:complexType name="CreateCustomerReqType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq"
    					type="cussv:CreateCustomerReqBodyType" maxOccurs="1" minOccurs="0">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CreateCustomerResType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes"
    					type="cussv:CreateCustomerResBodyType" maxOccurs="1"
    					minOccurs="0">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CreateCustomerReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="RefNo" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="UserID" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>

    		<xsd:element name="TransDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>

    		<xsd:element name="CustomerType" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="CustomerName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="ContactInfo" type="com-com:ContactInfoType" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="IDInfo" type="com-com:IDInfoType" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="TaxInfo" type="com-com:TaxInfoType" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreateCustomerResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CustomerCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="InquiryAgencyContractReq" type="cussv:InquiryAgencyContractReqType"></xsd:element>

    <xsd:element name="InquiryAgencyContractRes" type="cussv:InquiryAgencyContractResType"></xsd:element>

    <xsd:complexType name="InquiryAgencyContractReqType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq" type="cussv:InquiryAgencyContractReqBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryAgencyContractResType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes"
    					type="cussv:InquiryAgencyContractResBodyType" maxOccurs="1" minOccurs="0">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="InquiryAgencyContractReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InquiryAgencyContractResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AgencyListType">
    	<xsd:sequence>
    		<xsd:element name="AgencyInfo" type="com-com:AgencyInfoType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AgentType">
    	<xsd:sequence>
    		<xsd:element name="MemType" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="MemName" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="MemNo" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="FromDt" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ToDt" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CrDt" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="MemStatus" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="MemStatusDesc" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>