ESBMessageLib3/schema/Vn/com/tax.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.pjico.com.vn/entity/vn/tax/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com-tax="http://www.pjico.com.vn/entity/vn/tax/1">

	        <xsd:complexType name="TreasuryInfoType">
    	<xsd:sequence>
    		<xsd:element name="TreasuryCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AreaCode" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryAcctNumber" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DecisionNumber" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryParentCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CitadBankCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CitadTreasuryCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Note" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryReceiveCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
	        </xsd:complexType>

    <xsd:complexType name="AreaInfoType">
    	<xsd:sequence>
    		<xsd:element name="AreaCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="AreaName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="AreaParentCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CollectDepartmentInfoType">
    	<xsd:sequence>
    		<xsd:element name="CollectDepartmentCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CollectDepartmentName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AccountNo" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AccountName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CustomCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="OnlineFlag" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ChapterInfoType">
    	<xsd:sequence>
    		<xsd:element name="LevelCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ChapterCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ChapterName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EconomyContentInfoType">
    	<xsd:sequence>
    		<xsd:element name="EconomyContentCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="EconomyContentName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ParentCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DecisionDepartmentInfoType">
    	<xsd:sequence>
    		<xsd:element name="DecisionDepartmentCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DecisionDepartmentName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Note" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CollectionTypeInfoType">
    	<xsd:sequence>
    		<xsd:element name="CollectionTypeCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CollectionTypeName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Note" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CollectionTypeBudgetInfoType">
    	<xsd:sequence>
    		<xsd:element name="ID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="CollectionTypeCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DecisionDepartmentCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="FundCode" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="BudgetAccountNumber" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="BudgetAccountName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ChapterCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="EconomyTypeCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="EconomyContentCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="SymbolStatistical" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AreaCode" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AreaName" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExportImportInfoType">
    	<xsd:sequence>
    		<xsd:element name="ExportImportTypeCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ExportImportTypeName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Abbreviation" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BudgetRelationInfoType">
    	<xsd:sequence>
    		<xsd:element name="BudgetRelationCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="BudgetRelationName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="AreaCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="TreasuryCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxHeaderType">
		<xsd:sequence>
			<xsd:element name="ApplicationName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ApplicationVersion" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="SenderCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="SenderName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ReceiverCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ReceiverName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ServiceId" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TransactionDate" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TransactionId" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TransactionCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="MessageVersion" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="MessageType" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="MessageName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="MessageId" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="MessageRefId" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="IdLink" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="OriginalCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="OriginalName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="OriginalDate" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="SendDate" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ErrorCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ErrorDesc" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Spare1" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Spare2" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Spare3" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="RequestID" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayerInfoType_SeXoa">
		<xsd:sequence>
			<xsd:element name="CifNo" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Name" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Address" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="CommunityCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommunityName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ProvinceCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ProvinceName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DistrictCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="DistrictName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="ReplacementName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ReplacementTaxCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ReplacementAddress" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Type" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorType">
		<xsd:sequence>
			<xsd:element name="ErrorCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ErrorMessage" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

   <xsd:complexType name="DocumentDetailsType">
		<xsd:sequence>
			<xsd:element name="ItemId" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="DocumentCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DocumentNumber" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxTypeCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="SerialNumber" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EconomyContent" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EconomyContentName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="STCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ChapterCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Subsection" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="PaymentInformation" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="PayDate" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Amount" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="AmountCCY" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Fee" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="FeeCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Status" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="StatusDesc" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ErrorCustomCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ErrorCustomDesc" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="ReceiveNumber" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ReceiveDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="Note" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxPeriod" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
   </xsd:complexType>

<xsd:complexType name="PayerCommonInfoType">
		<xsd:sequence>
			<xsd:element name="CifNo" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="IdNo" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="AccountNo" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="AccountName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxType" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="PayerCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="PayerName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="PayerType" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Number" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ChapterCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ManagementUnitCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
</xsd:complexType>

	<xsd:complexType name="PayerAddressType">
		<xsd:sequence>
			<xsd:element name="AddressCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="Address" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ProvinceCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="ProvinceName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DistrictCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DistrictName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommunityCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CommunityName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayerDetailType">
		<xsd:sequence>
			<xsd:element name="TaxCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ChapterCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="CollectUnitCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TreasuryCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="FolderCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="EndPeriodDebt" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="AccountCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Currency" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxType" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Rate" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="AdministrativeAreaCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="NotificationCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="FrameNumber" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="MachineNumber" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="PropertyAdress" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DecisionNumber" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DecisionDate" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxPeriod" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="Vehicle" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="AssetCharacteristics"
				type="xsd:string" maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="DocumentCustomerType">
		<xsd:sequence>
			<xsd:element name="DepartmentCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="DepartmentName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ExportImportCode" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ExportImportName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="RegisterYear" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="AccountNumber" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TaxType" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Budget" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="BudgetSubsection" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Debt" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="RegisterDay" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="DocumentCommonInfoType">
    	<xsd:sequence>
    		<xsd:element name="PayerInfo"
    			type="com-tax:PayerCommonInfoType" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AddressInfo"
    			type="com-tax:PayerAddressType" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PayerInfoSubstitute"
    			type="com-tax:PayerCommonInfoType" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AddressInfoSubstitute"
    			type="com-tax:PayerAddressType" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CollectAreaInfo"
    			type="com-tax:AreaInfoType" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TreasuryInfo"
    			type="com-tax:TreasuryInfoType" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CollectionType"
    			type="com-tax:CollectionTypeInfoType" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TaxType" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="NotifyCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="NumberOfFrames" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="SewingNumber" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DecisionNo" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DecisionDate" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AccountDebit" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CollectDepartmentInfo"
    			type="com-tax:CollectDepartmentInfoType" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TypeOfSubmit" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Amount" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="GroupAcctCustomsCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CurrencyCustomsCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CustomCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CustomCodeFee" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TypeExportImportCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="YearRes" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AssetAddress" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AssetCharacteristics" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="AccountNo" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DeclarationNumber" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="FeeInfo" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TaxCommonType">
    	<xsd:sequence>
    		<xsd:element name="CustCodeExtend" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TransId" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TransIdRef" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TransCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TransCodeRef" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TransDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="VerifyDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="MessageType" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="MessageName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    
    <xsd:complexType name="AmountInfo">
    	<xsd:sequence>
    		<xsd:element name="Amount" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Currency" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CustomDepartmentInfoType">
    	<xsd:sequence>
    		<xsd:element name="CustomCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CustomName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="RelationTreasuryCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DebtInfoType">
    	<xsd:sequence>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="StatusName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="StatusDetail" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="StatusNameShort" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DebtSum" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TransportTypeInfo">
    	<xsd:sequence>
    		<xsd:element name="TransportTypeCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="TransportTypeName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AccountGroupInfoType">
    	<xsd:sequence>
    		<xsd:element name="GroupCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="GroupName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>



    <xsd:complexType name="TransDetailType">
    	<xsd:sequence>
    		<xsd:element name="CommonInfo" type="com-tax:TaxCommonType" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="StatusDesc" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Amount" type="com-tax:AmountInfo" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>