TEST_SERVER1/run/ESBMessageLib/service/vn/compensation/compensationService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.pjico.com.vn/entity/vn/compensation/compensationservice/1" elementFormDefault="qualified" xmlns:com-soa="http://www.pjico.com.vn/common/envelope/soaenvelope/1" xmlns:com-com="http://www.pjico.com.vn/entity/vn/com/1" xmlns:com-party="http://www.pjico.com.vn/entity/vn/com/party/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://www.pjico.com.vn/common/envelope/serviceenvelope/1" xmlns:cussv="http://www.pjico.com.vn/entity/vn/compensation/compensationservice/1" xmlns:Q2="http://www.pjico.com.vn/entity/vn/com/isurance/1">
    <xsd:import schemaLocation="../../../schema/Vn/com/insurance.xsd" namespace="http://www.pjico.com.vn/entity/vn/com/isurance/1"></xsd:import>
    <xsd:import schemaLocation="../../../schema/Common/Envelope/ServiceEnvelope.xsd" namespace="http://www.pjico.com.vn/common/envelope/serviceenvelope/1">
	</xsd:import>
	<xsd:import schemaLocation="../../../schema/Common/Envelope/SOAEnvelope.xsd" namespace="http://www.pjico.com.vn/common/envelope/soaenvelope/1">
	</xsd:import>
	<xsd:import schemaLocation="../../../schema/Vn/com/com.xsd" namespace="http://www.pjico.com.vn/entity/vn/com/1">
	</xsd:import>
	<xsd:import schemaLocation="../../../schema/Vn/com/party.xsd" namespace="http://www.pjico.com.vn/entity/vn/com/party/1"></xsd:import>

    <xsd:element name="InquiryCompensationReq" type="cussv:InquiryCompensationReqType"></xsd:element>

    <xsd:element name="InquiryCompensationRes" type="cussv:InquiryCompensationResType"></xsd:element>



    <xsd:element name="InquiryMechanicalCompensationReq"
    	type="cussv:InquiryMechanicalCompensationReqType">
    </xsd:element>

    <xsd:element name="InquiryMechanicalCompensationRes"
    	type="cussv:InquiryMechanicalCompensationResType">
    </xsd:element>

    <xsd:element name="ReceiveDamageInformationReq" type="cussv:ReceiveDamageInformationReqType"></xsd:element>

    <xsd:element name="ReceiveDamageInformationRes" type="cussv:ReceiveDamageInformationResType"></xsd:element>

    <xsd:element name="InquiryHealthCompensationReq" type="cussv:InquiryHealthCompensationReqType"></xsd:element>

    <xsd:element name="InquiryHealthCompensationRes" type="cussv:InquiryHealthCompensationResType"></xsd:element>




    <xsd:complexType name="InquiryCompensationReqType">
    	<xsd:complexContent>
    		<xsd:extension
    			base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq" type="cussv:InquiryCompensationReqBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryCompensationResType">
    	<xsd:complexContent>
    		<xsd:extension
    			base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes" type="cussv:InquiryCompensationResBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryHealthCompensationReqType">
    	<xsd:complexContent>
    		<xsd:extension
    			base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq" type="cussv:InquiryHealthCompensationReqBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryHealthCompensationResType">
    	<xsd:complexContent>
    		<xsd:extension
    			base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes" type="cussv:InquiryHealthCompensationResBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>



    <xsd:complexType name="ReceiveDamageInformationReqType">
    	<xsd:complexContent>
    		<xsd:extension
    			base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq" type="cussv:ReceiveDamageInformationReqBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ReceiveDamageInformationResType">
    	<xsd:complexContent>
    		<xsd:extension
    			base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes" type="cussv:ReceiveDamageInformationResBodyType" maxOccurs="1" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    


    <xsd:complexType name="InquiryCompensationReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PolicyNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ClaimNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InquiryCompensationResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ReturnCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ErrMess" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ClaimInfo" type="Q2:ClaimInfoBaseType"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ClaimMainInfoList"
    			type="cussv:ClaimMainInfoListType" maxOccurs="1" minOccurs="0">
    		</xsd:element>

    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InquiryHealthCompensationReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="SymbolNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="FromDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ToDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InquiryHealthCompensationResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Unit" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="No" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DateClaim" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Currency" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Created" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ClaimNo" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ClaimType" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="NumberRequired" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Party" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="NumberOrder" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PartyName" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ListNumber" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="StartDate" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="EndDate" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="BasicSalary" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="NumberDayOfMonth" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="IDNo" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PhoneNumber" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Email" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Renewal" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Risk" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="RiskStatus" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="FromDate" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ToDate" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="NumberDate" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="RequiredAmount" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="FeeAmount" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="FileOfficer" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TCTOfficer" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Claim" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DepartmentCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ExploitOfficer" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Note" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TermCode" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Description" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Limit" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="WaitTime" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Amount" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TermType" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Term" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="SalaryPercent" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>



    <xsd:complexType name="ReceiveDamageInformationReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="IssueDate" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Phone" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ReportPer" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Driver" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="SeaOfControl" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Contour" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Place" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="WorkShop" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="OrgInsuranceUnit" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="TicketId" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ReportDate" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="IsBike" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ChannelID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReceiveDamageInformationResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Message" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Data" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InquiryMechanicalCompensationReqType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq"
    					type="cussv:InquiryMechanicalCompensationReqBodyType" maxOccurs="1" minOccurs="0">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryMechanicalCompensationReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="DamageCodeID " type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ProfileCodeID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="CertNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="LicensePlate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="PolicyNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InquiryMechanicalCompensationResType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes"
    					type="cussv:InquiryMechanicalCompensationResBodyType" maxOccurs="1" minOccurs="0">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryMechanicalCompensationResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ReturnCode" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ErrMess " type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="MechanicalList" type="cussv:MechanicalListType" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>







    <xsd:complexType name="ClaimMainInfoListType">
    	<xsd:sequence>
    		<xsd:element name="ClaimMainInfo"
    			type="Q2:ClaimMainInfoType" maxOccurs="unbounded" minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>




    <xsd:complexType name="MechanicalListType">
    	<xsd:sequence>
    		<xsd:element name="MechanicalInfo" type="cussv:MechanicalInfoType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="InquiryCompensationPaymentReq"
    	type="cussv:InquiryCompensationPaymentReqType">
    </xsd:element>
    
    <xsd:element name="InquiryCompensationPaymentRes"
    	type="cussv:InquiryCompensationPaymentResType">
    </xsd:element>
    
    <xsd:complexType name="InquiryCompensationPaymentReqType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeRequestType">
    			<xsd:sequence>
    				<xsd:element name="BodyReq"
    					type="cussv:InquiryCompensationPaymentReqBodyType" maxOccurs="1" minOccurs="0">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InquiryCompensationPaymentResType">
    	<xsd:complexContent>
    		<xsd:extension base="Q1:BaseServiceEnvelopeResponseType">
    			<xsd:sequence>
    				<xsd:element name="BodyRes"
    					type="cussv:InquiryCompensationPaymentResBodyType" maxOccurs="1" minOccurs="0">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="InquiryCompensationPaymentReqBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ClaimNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InquiryCompensationPaymentResBodyType">
    	<xsd:sequence>
    		<xsd:element name="FunctionCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Voucher" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="VoucherDate" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PartyCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="UnitCode" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="MiningVehicle" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="AgencyCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Employee" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="PolicyNo" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="CompensationNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ClaimNo" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="ProductCode" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Amount" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="Vat" type="xsd:string" maxOccurs="1"
    			minOccurs="0">
    		</xsd:element>
    		<xsd:element name="SumAmount" type="xsd:string"
    			maxOccurs="1" minOccurs="0">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MechanicalInfoType">
    	<xsd:sequence>
    		<xsd:element name="PrKey" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ClaimNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Status" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="StatusName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ChassisNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="OrganizationName" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Owner" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ReceptionDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="LicensePlate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="ProcessDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Supervisor" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Gara" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="CodeIDDamage" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="RepairDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="PaymentDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="PolicyNo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="EstimateDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="RejectReason" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="PaymentAmount" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="PrDetailID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="EstimateAmount" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="RepairAmount" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="PolicyOrganizationID"
    			type="xsd:string" maxOccurs="1" minOccurs="0">
    		</xsd:element>
    		<xsd:element name="InformDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="InformHour" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="InformMinute" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="DamageDate" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="DamageHour" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="DamageMinute" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="DamagePlace" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="Comments" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    		<xsd:element name="InformedPerson" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>