ESBMessageLib3/wsdls/SystemService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SystemService" targetNamespace="http://www.pjico.com.vn/entity/vn/app/systemsvcs/1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sys="http://www.pjico.com.vn/entity/vn/app/systemsvcs/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.pjico.com.vn/entity/vn/system/systemservice/1">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.pjico.com.vn/entity/vn/system/systemservice/1"
    		schemaLocation="../service/vn/system/systemService.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="CreateQRCodeRequest">
    <wsdl:part element="xsd1:CreateQRCodeReq" name="req" />
  </wsdl:message>
  <wsdl:message name="CreateQRCodeResponse">
    <wsdl:part element="xsd1:CreateQRCodeRes" name="res" />
  </wsdl:message>
  <wsdl:message name="DigitalSignRequest">
  	<wsdl:part name="req" element="xsd1:DigitalSignReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DigitalSignResponse">
  	<wsdl:part name="res" element="xsd1:DigitalSignRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="InquiryCategoryRequest">
  	<wsdl:part name="req" element="xsd1:InquiryCategoryReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="InquiryCategoryResponse">
  	<wsdl:part name="res" element="xsd1:InquiryCategoryRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="InquiryWorkshopRequest">
  	<wsdl:part name="req" element="xsd1:InquiryWorkshopReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="InquiryWorkshopResponse">
  	<wsdl:part name="res" element="xsd1:InquiryWorkshopRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendSMSRequest">
  	<wsdl:part name="req" element="xsd1:SendSMSReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendSMSResponse">
  	<wsdl:part name="res" element="xsd1:SendSMSRes"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SystemService">
    <wsdl:operation name="CreateQRCode">
      <wsdl:input message="sys:CreateQRCodeRequest"/>
      <wsdl:output message="sys:CreateQRCodeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DigitalSign">
    	<wsdl:input message="sys:DigitalSignRequest"></wsdl:input>
    	<wsdl:output message="sys:DigitalSignResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryCategory">
    	<wsdl:input message="sys:InquiryCategoryRequest"></wsdl:input>
    	<wsdl:output message="sys:InquiryCategoryResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryWorkshop">
    	<wsdl:input message="sys:InquiryWorkshopRequest"></wsdl:input>
    	<wsdl:output message="sys:InquiryWorkshopResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
    	<wsdl:input message="sys:SendSMSRequest"></wsdl:input>
    	<wsdl:output message="sys:SendSMSResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemServiceSOAP" type="sys:SystemService">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="CreateQRCode">

  		<soap:operation
  			soapAction="http://www.pjico.com.vn/entity/vn/app/systemsvcs/1/CreateQRCode" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="DigitalSign">
  		<soap:operation
  			soapAction="http://www.pjico.com.vn/entity/vn/app/systemsvcs/1/DigitalSign" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="InquiryCategory">
  		<soap:operation
  			soapAction="http://www.pjico.com.vn/entity/vn/app/systemsvcs/1/InquiryCategory" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="InquiryWorkshop">
  		<soap:operation
  			soapAction="http://www.pjico.com.vn/entity/vn/app/systemsvcs/1/InquiryWorkshop" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="SendSMS">
  		<soap:operation
  			soapAction="http://www.pjico.com.vn/entity/vn/app/systemsvcs/1/SendSMS" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemService">
    <wsdl:port binding="sys:SystemServiceSOAP" name="SystemServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>